
.form-box-signup{
    box-sizing: border-box;
    width: 30%;
    height: 50vh;
    /*border: dotted #F55A00 5vw;*/
    border:solid 1px black;
    margin-top: 5vw;
    margin-left: 30vw;
    margin-right: 30vw;
    padding: 3vw ;
    padding-top:1vw;
    position:absolute; 
    border-radius: 50px;
    /* position:relative for .prevBtn and .nextBtn position:absolute; */
}
.data-input {
  padding-left: 40px;
  border:0px;
  border-radius: 20px;
  border-color: blue;
  width: 100%;
  height:100%
}
.style-button{
    padding:10px;
    border:none;
    background-color:#062afa;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width: 40%;
}
.signid
{
    font-weight: bold;  
}
.icon-style {
    position: absolute;
    margin-left: 1vw;
    font-size: large
 
 }
 .backstyle
 {
     background-color: rgb(248, 244, 239);
     background-position: center;
     background-repeat: no-repeat;
     height: 60%;
 }
 .container
 {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border:0px;
    margin-left: 10em;
    width:50%;
    border-radius:20px;

 }

 
